{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>online tutorial</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="menu-bar">
<ul>
    <li class="active"><a href="#"> </a><i class="fa fa-home"> </i>Home</li>

    <li><a href="#">About Us</a>
        <div class="submenu1">
        <ul>
            <li><a href="#">Histoy</a></li>
            <li><a href="#">Achievements</a></li>
            <li><a href="#">Rank holders</a></li>
        </ul>
    </div>
    </li>

    <li><a href="#">Courses</a>
    <div class="submenu1">
        <ul>
            <li class="hover-me"><a href="#">degree</a><i class="fa fa-angle-right"> </i>
            <div class="submenu2"><ul>
            <li><a href="#">BA</a></li>
            <li><a href="#">BSC</a></li>
            <li><a href="#">BTEC</a></li>
            <li><a href="#">BCOM</a></li>

        </ul>
            </div></li>
            <li><a href="#">post graduate</a><i class="fa fa-angle-right"> </i></li>
            <li><a href="#">psc</a><i class="fa fa-angle-right"> </i></li>
        </ul>
    </div>
    </li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Teachers</a></li>
    <li><a href="#">Message</a><i class="fa fa-comment"></i></li>
    <li><a href="#">Contact</a><i class="fa fa-address-card" aria-hidden="true"></i></li>
</ul>
    </div>
<form action="{% url 'emailapi:sendemail' %}">
    <input type="email" name="email">
    <input type="submit" value="subscribe">
</form>


</body>
</html>